*
{
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
    color: white;
    text-decoration: none;
}
/* trying to fix bug on mobile cutting bottom*/
body 
{
    min-height: 100svh;
}
  
  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }
  }

html
{
    height: 100svh;
    -webkit-overflow-scrolling: touch;
}
.wrapper
{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    min-height: 100svh;
    flex: 1;
    background-color: #180023;
    position: relative;
}

.wrapperInside
{
    display: flex;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    gap: 0.5em;
}
.logo
{
    display:flex;
    color:white;
}

.footer
{
    color: white;
    min-width: 100%;
    min-height: 5em;
    background-color: rgb(32,38,37);
}

.insideFooter
{
    display: flex;
}

.header 
{
    min-width: 100%;
    min-height: 5svh;
    display: flex;
    color: white;
    background-color: rgb(32,38,37);
}

.banner
{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.sidebar
{
    display: flex;
    width:20%;
    height: 40%;
    flex-direction: column;
    background-color: rgb(45, 30, 58);
    align-items: center;
    position: sticky;
    right: 0;
    top: 15%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    padding: 10px 0 10px 0;
    margin: 0.5em;
}

.list
{
    display: flex;
    flex-direction: column;
    padding-left: 15px;    
}

.list > ul
{
    list-style: none;
}

.yellow
{
    color : rgba(255,215,0,0.75);
}
