*
{
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
    color: white;
    text-decoration: none;
}


.wrapper
{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    min-height: 100dvh;
    flex: 1;
    background-color: #180023;
    position: relative;
}

.wrapperInside
{
    display: flex;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    gap: 0.5em;
}
.logo
{
    display:flex;
    color:white;
}

.footer
{
    color: white;
    min-width: 100%;
    min-height: 5em;
    background: linear-gradient(to top, rgb(32,38,37) 95%,#180023 ); 
}

.insideFooter
{
    display: flex;
}

.header 
{
    min-width: 100%;
    min-height: 5dvh;
    display: flex;
    color: white;
    background: linear-gradient(to bottom,rgb(32,38,37) 95% , #180023 );
    /* background-color: rgb(32,38,37); */
}

.banner
{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.list
{
    display: flex;
    flex-direction: column;
    padding-left: 15px;    
}

.list > ul
{
    list-style: none;
}

.yellow
{
    color : rgba(255,215,0,0.75);
}
.toggleBtn
{
    min-width: 2em;
    min-height: 2em;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    background-color: transparent;
    border-color: inherit;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
/*----------LIGHT MODE STUFF----------------*/


.wrapper.light-mode
{
    background-color: hsl(282, 100%, 90%);
}
.footer.light-mode
{
    background: linear-gradient(to top, hsl(170, 100%, 93%) 95%,hsl(282, 100%, 90%) );
}
.header.light-mode
{
    background: linear-gradient(hsl(170, 100%, 93%) 95%,hsl(282, 100%, 90%) );
}
.banner.light-mode  *
{
    color: gold;
}

#sun-moon
{
    font-size: 1.5em;
    color: gold !important;
}
#sun-moon.light-mode
{
    font-size: 1.5em;
    color: rgb(0, 0, 0) !important;
}

/*--------------MEDIA QUERIES-------------*/

@media (max-width: 600px) 
{

}
