textarea
{
    color:blue;
    width: 50em;
    height: 50em;
    background-color: rgba(24, 0, 35, 0.5);
}

.alignCol
{
    display: flex;
    flex-direction: column;
}

.sendbutton
{
    display: flex;
    justify-content: center;
}
button
{
    background-color: rgb(45, 30, 58);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: purple;
    border: groove 2px;
    border-color: midnightblue;
    padding: 5px;
}