.grille
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    gap : 7.5px;
    padding: 0 5px 0 5px;
}

.card
{
    display: flex;
    flex: 25%;
    margin: 5px;
    height: 250px;
    background-color: #8A7A97;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    justify-content: center;
}

.textCard
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}