input
{
    border: none;
    cursor: default;
    color: purple;
    background-color:  #180023;
}
input::file-selector-button 
{
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 0 ,0.8);
}
table
{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.updateButton
{
    background-color : rgba(32, 255, 112,0.5);
}

.deleteButton
{
    background-color: rgba(255, 46, 0,0.5);
}

button
{
    border: none;
    border-radius: 15px;;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 3em;
    width: 5em;
}

select
{
    background-color:  #180023;
}

.listFilms
{
    display: flex;
    width: 65%;
    flex-grow: 1;
    list-style: none;
    padding: 10px;
}