*
{
    margin: 0;
    padding: 0;
    font-family: 'Quantico', sans-serif;
}

.wrapper
{
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

.logo
{
    display:flex;
    color:white;
}

.footer
{
    bottom: 0;
    width: 100vw;
    height: 4vh;
    display: flex;
    background-color: black;
    color: white;
}

.listFilms
{
    display: flex;
}

.header 
{
    width: 100vw;
    display: flex;
    background-color: black;
    color: white;
}

.banner
{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

input
{
    border: none;
    cursor: default;
}

table
{
    display: flex;
    overflow-x: auto;
}